body {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.18px;
  color: #6b6375;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  width: 1920px;
  margin: 0 auto;
  text-align: center;
  border-left: 1px solid #e5e4e7;
  border-right: 1px solid #e5e4e7;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  font-weight: 500;
  color: #08060d;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

h1 {
  margin: 32px 0;
  font-size: 56px;
  letter-spacing: -1.68px;
}

h2 {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: -0.24px;
}

p {
  margin: 0;
}